<div class="row">
	{{#each burger_data}}
	<div class="row2">
		{{#unless this.devoured}}
		<pre>{{this.id}}. {{this.burger_name}}
		</pre>
	</div>

<form method="POST" action="/burgers/update?_method=PUT">
						<input input type="hidden" type="text" name="burger_id" value={{this.id}}><br>
						<button type="submit">Devour it!</button>
					</form>
					{{/unless}}
				{{/each}}
</div>
<div class="row">
  {{#each burger_data}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
				{{/if}}
			  {{/each}}
<div class="row">
<form action="/burgers/create" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" id="text-enter-button">Submit</button>
			</form>
			<p>Enter a burger you want to eat Click the "Submit" button.</p>
			</div>